<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie review system</title>
    <link rel="stylesheet" href="C:\Users\Vinutha TJ\OneDrive\Desktop\DBMS Project\Movie\Main page\static\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <section class="header">
        <nav>
            <!--<a href="index.html"><img src="popcorn-removebg-preview.png"></a>-->
            <div class="nav-links">

                <ul>
                    <li><a href="http://127.0.0.1:5000/">HOME</a></li>
                    <li><a href="/second">REGISTER</a></li>
                    <li><a href="/login">SIGN IN</a></li>
                    <li><a href="/adminlogin">ADMIN</a></li>
                </ul>

            </div>
        </nav>

        <form action="#" method="POST" class="search-bar">
            <input type="text" placeholder="Search for a movie..." name="query">
        </form>
        <!--Goes to booking page-->


    </section>

</body>

</html>